.title {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleExpanded {
  text-wrap: wrap;
  text-overflow: clip;
  overflow: visible;
}

.bottomContainerExpanded {
  flex-wrap: wrap;
}

/* Remove scroll styles */
.tagContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.tagContainer::-webkit-scrollbar {
  display: none;
}

.tagContainerClosed {
  overflow: scroll
}
.tagContainerExpanded {
  flex-wrap: wrap;
}

.tag {
  text-wrap: nowrap;
}