@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-styles {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-400  focus-visible:border-transparent;
  }
  .focus-styles-inset {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-400 focus-visible:ring-inset  focus-visible:border-transparent;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Reset autofill styles for input */
/* Selecting an autofill option would normally set the input
   background to white */
   input:-webkit-autofill,
   input:-webkit-autofill:hover, 
   input:-webkit-autofill:focus, 
   input:-webkit-autofill:active{
        /* sky-950 */
       -webkit-box-shadow: 0 0 0 30px #082F49 inset !important;
        /* sky-300 */
       -webkit-text-fill-color: #7DD3FC !important;
   }
   input:-webkit-autofill:focus, 
   input:-webkit-autofill:active{
     outline: 2px solid ;
     outline-offset: -2px;
        /* green-400 */
     outline-color: #4ADE80;
   }